# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.gradle
/.idea.
/common/build
/common/.gradle
/fabric/build
/fabric/.gradle
/fabric/run
/neoforge/build
/neoforge/.gradle
/neoforge/run
/.idea
build/reports/problems/problems-report.html

# Local verification files and companion documentation
/dev/scroll_forge/
/common/src/test/java/dev/behindthescenery/sdmrecipemachinestages/data/SpellStageRulesTest.java
/info_support/irons_spellbooks.md
/info_support/irons_spellbooks_kubejs_guide_zh.md
